body {
    color: black;
    background: coral;
    background-position: top left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    
  }

h1,h2
{
   font-family: 'Arial', 'Helvetica', 'sans-serif';
   color: black;
    text-align: center;
}
h3
{
   font-family: 'Arial', 'Helvetica', 'sans-serif';
   color: black;
}  
  
  .nav {
    font-family: 'sans-serif';
  }
 
  p:hover {
  background-color: skyblue;
  font-family: 'Arial', 'Helvetica', 'sans-serif';
  font-family: 'Arial', 'Helvetica', 'sans-serif';
}
.CAMILLO
{    
    color: slateblue;
}
.archidamus
{    
    color: darkgoldenrod;
}
table{
    border-collapse: collapse;
    border-spacing: 0px;
    border-bottom: 1px,solid #006699;
    margin-bottom: 5%;
}
td,th{
    padding: 3px 10px;
    text-align: center;
}
th{
    font-weight: bold;
    color: #006699;
}
thead tr{
    border-bottom: 1px solid #006699;
}
tbody th{
    border-right: 1px solid #006699;
    text-align: right;
    border-left: 1px solid #006699;
}
td{
    background-color: #ffffcc;    
    border-right: 1px solid #006699;
    border-left: 1px solid #006699;
}
tr.even td{
   background-color: #E1FFE1; 
}
table.striped{
    border-collapse: collapse;
    border-spacing: 0px;
    border-bottom: 1px,solid #006699;
}
table.striped td, table.striped th{
    padding: 3px, 10px;
    text-align: center;
}
table.striped th{
    font-weight: bold;
    color:#006699;
    border-right: 1px solid #006699;
    text-align: right;
    border-left:1px solid #006699;
    border-top: 1px solid #006699;
}
table.striped thead tr{
    border-bottom: 1px,solid #006699;
}
table.striped thead th{
    border-right: 1px solid #006699;
    text-align: right;
}
table.striped td{
    background-color: #ffffcc;
    border-bottom: 1px solid #006699;
}
table.striped tr.even td{
    background-color: #E1FFE1;
}
.CAMILLO:hover {
    text-shadow: 2px 2px red;
    box-shadow: 2px 2px black;
}
.archidamus:hover {
      text-shadow: 2px 2px red;
      box-shadow: 3px 3px black;
}